* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100vh;
  background: linear-gradient(to left, #94716B, #B79891);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#all-btn {
  display: grid;
  grid-template: repeat(3, 200px)/repeat(1, 700px);
}

#all-btn .btns {
  display: flex;
}

#all-btn .btns .icon {
  border: 1px solid white;
  width: calc(100% / 1);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10em;
  transition: background-color .3s;
  color: white;
}

#all-btn .btns .icon:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

#all-btn .btns:first-of-type .icon {
  border-top: none;
}

#all-btn .btns:last-child .icon {
  border-bottom: none;
}

#all-btn .btns:first-of-type .icon:first-of-type,
#all-btn .btns:nth-child(2) .icon:first-of-type,
#all-btn .btns:nth-child(3) .icon:first-of-type {
  border-left: none;
}

#all-btn .btns:first-of-type .icon:last-child,
#all-btn .btns:nth-child(2) .icon:last-child,
#all-btn .btns:nth-child(3) .icon:last-child {
  border-right: none;
}

button {
  margin: 4em 0;
  padding: 1em 5em;
  border-radius: 15px;
  border: none;
  cursor: pointer;
  outline: none;
  background: #d3d1d1;
  font-size: 1em;
  font-family: 'Tahoma';
  font-weight: 400;
}

button:active {
  transform: scale(0.95);
}

#text {
  color: #d3d1d1;
  text-transform: uppercase;
  font-size: 2em;
}

#text span {
  color: black;
}
